@media screen and (max-width: 768px){
	.navbar-inverse .navbar-toggle {
    	border-color: #161930;
    	margin-top: 20px;
	}
	.container>.navbar-collapse, .container-fluid>.navbar-collapse {
    	margin-right: -17px!important;
    	margin-left: -17px!important;
	}
	.navbar-inverse .navbar-collapse{
		background: #323054!important;
	}
	.box {
		margin-top: 10px;
	}
	.enabling,
	.investment,
	.utilize,
	.utilize.love,
	.question,
	.yielders {
    	width: auto;
    	margin: 10px;
	}
	#subscribe {
		margin-left: 0;
	}
	.tomato-div {
		margin-bottom: 10px;
	}
	.circle {
		display: none;
	}

}
@media screen and (min-width: 770px) and (max-width: 950px) {
	.tomato-div {
    	width: auto;
    }
    #manage {
    	margin-bottom: 32px;
    }
    .circle {
    	left: 43.86%;
        margin-top: 160px;
    }
}
@media screen and (min-width: 951px) and (max-width: 990px) {
	#manage {
    	margin-bottom: 32px;
    }
	.circle {
    	left: 44.86%;
        margin-top: 160px;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1100px) {
	.circle {
		left: 45.28%;
	}
}
@media screen and (max-width: 1000px){
	.navbar {
		height: auto;
	}
}